<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/index.css">
	<title>Books</title>
</head>
<body>
	<center><h1>Store a Book</h1></center>
	<form action="/create" method="POST" >
		<input type="text" placeholder="Enter the book's name..." name="name" required><br>
		<input type="text" placeholder="Enter the Author's name..." name="author" required><br>
		<input type="text" placeholder="Enter the price..." name="price" required><br>
		<input type="text" placeholder="Enter the books review.." name="review" required><br>
		<input type="text" placeholder="Enter the rating..." name="rating" required><br>
		<input type="text" placeholder="publish year" name="publish-year" required><br>
		<input type="text" placeholder="Publisher" name="publisher" required><br>
		<button>Create Book!</button>
	</form>
</body>
</html>